{{^actions}}
<form class="row" method="post">
	<input type="hidden" name="_method" value="put" />
	<div class="column twelve">
		<button type="submit" class="button success small">Enable actions on this repo</button>
	</div>
</form>
<hr />
{{/actions}}

{{#actions.length}}
<form method="post">
	<div class="row">
		<div class="column twelve">
			<table class="twelve">
				<thead>
					<tr>
						<th style="width: 20px"><input type="checkbox" disabled /></th>
						<th>Action</th>
						<th>Shell</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
				{{#actions}}
					<tr>
						<td><input type="checkbox" name="actions[{{name}}]" {{#date}}checked{{/date}} /></td>
						<td>{{name}}</td>
						<td>{{shell}}</td>
						<td>{{date}}</td>
					</tr>
				{{/actions}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="column twelve text-right">
			<button class="button success small" type="submit">Save</button>
		</div>
	</div>
</form>

<hr />
<form class="row" method="post">
	<input type="hidden" name="_method" value="delete" />
	<div class="column twelve centered">
		<button type="submit" class="button alert small">Delete config and history on this repo</button>
		<span class="subheader"> Waring! This action cannot be undone</span>
	</div>
</form>

{{/actions.length}}