
<form class="row" method="post">
	<input type="hidden" name="_method" value="put" />
	<div class="column five">
		<select name="action" class="chzn-select" data-placeholder="Chose an action">
			<option value="phpunit test">phpunit test</option>
		</select>
	</div>
	<div class="column seven">
		<button type="submit" class="button success small">Create</button>
	</div>
</form>

{{#actions.length}}
<hr />

<div class="row">
	<div class="column twelve">
		<table class="twelve">
			<thead>
				<tr>
					<th>Action</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
			{{#actions}}
				<tr>
					<td>{{name}}</td>
					<td>{{time}}</td>
				</tr>
			{{/actions}}
			</tbody>
		</table>
	</div>
</div>
{{/actions.length}}