<div class="row">
	<div class="column twelve">
		{{^events}}
			No history yet. You should <a href="/repo/{{full_name}}/config">setup</a> this repo first
		{{/events}}


		{{#eventList.length}}
			<table id="history" class="twelve">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{{#events}}
					<tr>
						<td class="icon">
							<a href="http://github.com/{{creator.login}}" target="_blank" title="{{creator.login}}">
								<img src="{{creator.avatar_url}}" alt="{{creator.login}}" />
							</a>
						</td>
						<td class="text-center"><span class="label {{state}}">{{description}}</span></td>
						<td class="text-center"><span class="subheader">{{updated_at}}</span></td>
						<td class="text-center">
							<a href="/repo/{{full_name}}/{{payload.after}}" class="sha">{{payload.head_commit.id}}</a>
						</td>
						<td class="text-center">
							<a href="/repo/{{full_name}}/{{payload.after}}" class="sha"><span class="icon icon-redo"></span> Details</a>
						</td>
					</tr>
				{{/events}}
				</tbody>
			</table>
		{{/eventList.length}}
	</div>
</div>