
<div id="repo-title" class="panel clearfix">
	<img src="{{owner.avatar_url}}" alt="" />
	<h4> {{owner.login}} / {{name}} </h4>
	<p>{{description}}</p>
</div>

<dl class="tabs">
  <dd class="{{#isActiveTab}}history{{/isActiveTab}}"><a href="/repo/{{full_name}}/"><span class="icon icon-list"></span> History</a></dd>
  <dd class="{{#isActiveTab}}config{{/isActiveTab}} right"><a href="/repo/{{full_name}}/config"><span class="icon icon-cog"></span> Config</a></dd>
</dl>

<div id="content">
	{{> tab}}
</div>