
<div class="row">
	<div class="panel">
		<h5>Select your Github Repo</h5>
		<p>Select the Github repo you want to manage on Cihub. Setup all the repos you want.</p>
	</div>
</div>
<div id="repos" class="boxed">
	{{#repos}}
		<a href="/repo/{{full_name}}" class="row clickable">
			<div class="column five">
				{{#owner}}
					<img src="{{avatar_url}}" alt="" />
				{{/owner}}

				{{full_name}}
			</div>
			<div class="column seven text-right">
				<span class="arrow"></span>
			</div>
		</a>
	{{/repos}}
</div>